<div class='jumbotron'>
 <div class='container'>
 <h1>Hello</h1>
 <p>Welcome to the app</p>
</div>
</div>

<div class='container'>
 <div class='row'>
 <div class='col-md-12'>
 <h3>How it works?</h3>
 <hr>
 </div>
 </div>
 <div class='row'>
 <div class="col-md-4">
 <h2>Connect with Flashphan</h2>
 <p>Signup or login to this app with your facebook account</p>
 </div>
 <div class="col-md-4">
 <h2>Create interesting posts</h2>
 <p>Start posting cool content. Max 160 characters twitter style</p>
 </div>
 <div class="col-md-4">
 <h2>Share them</h2>
 <p>Share with your friends on facebook</p>
 </div>
 </div>
</div>
