<div class='jumbotron'>
 <div class='container'>
 <h1>In Production Mode</h1>
 <p>Welcome to the app</p>
</div>
</div>

<div class='container'>
 <div class='row'>
 <div class='col-md-12'>
 <h3>How it works?</h3>
 <hr>
<h2> Let the whole word know what youre up to by posting status anytime you want </h2>
